.error {color: #FF0000;}
body {
    border: 20px solid rgb(255, 0, 179);
    padding: 20px; 
}
h1 {
    text-align: center;
}
form {
    margin: auto;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(255, 0, 179);
    border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(255, 0, 179);
    font-family: Arial, sans-serif;
  }
  
  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  button[type="submit"] {
    background-color: #ff00f7;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    border-radius: 10px;
}