body {
    background-color: #f8f8f8;
}

.title {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #777;
    margin-bottom: 20px;
}

table {
    text-align: center;
    margin: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
